{% extends 'base.html.twig' %}
{% block title %}Conference Guestbook -
  {{ conference }}
{% endblock %}
{% block body %}
  <h2 class="mb-4">{{ conference }}
    Conference</h2>
  {% if comments | length > 0 %}
    <div class="mb-4">There are
      {{ comments|length }}
      comments.</div>
    {% for comment in comments %}
      <div class="card mb-4">
        <div class="card-body">
          {% if comment.photofilename %}
            <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" class="img-fluid mb-2"/>
          {% endif %}
          <h4 class="card-title">{{ comment.author }}</h4>
          <small class="text-muted">
            {{ comment.createdAt|format_datetime('medium', 'short') }}
          </small>
          <p class="card-text">{{ comment.text }}</p>
        </div>
      </div>
    {% endfor %}
    <div class="mb-4">
      {% if previous >= 0 %}
        <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}" class="btn btn-primary">Previous</a>
      {% endif %}
      {% if next < comments | length %}
        <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}" class="btn btn-primary">Next</a>
      {% endif %}
    </div>
  {% else %}
    <div>No comments have been posted yet for this conference.</div>
  {% endif %}

  <h2 class="mt-4">Add your own feedback</h2>

  {{ form(comment_form) }}{% endblock %}
